# Port sur lequel l'API sera lancée
PORT=3000

# Clé administrateur utilisée pour 'seeder' initialement la base de données. Si non définie, une clé aléatoire sera générée.
# Il est FORTEMENT recommandé de définir cette valeur pour un usage en production.
# ADMIN_SEED_KEY=votre_super_cle_admin_securisee_ici
Edit with
